
PORT=8787
NODE_ENV=production


FRONTEND_ORIGIN=https://luxrides.online


SUPABASE_URL=https://symcauagugifzsjzwypx.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=


GOOGLE_MAPS_API_KEY=
GROQ_API_KEY=
TICKETMASTER_KEY=
HERE_API_KEY=
STRIPE_PUBLISHABLE_KEY=
VAPID_PUBLIC_KEY=BPirkqzos1LTThbMmK1qCGH7M7qR2h1pilBOXMroC7z9Zt2lSgOfKgFhM-7IDur998kXFmpG6pJR6pgRBOjEqN8
VAPID_PRIVATE_KEY=
VAPID_EMAIL=luxrides@luxrides.online


ADMIN_ID=
ADMIN_PASS=


SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=LuxRides Clientes <luxrides@luxrides.online>
